<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_enemy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,67}}</string>
                <key>sourceSize</key>
                <string>{200,67}</string>
            </dict>
            <key>img_enemy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{180,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,149}}</string>
                <key>sourceSize</key>
                <string>{180,149}</string>
            </dict>
            <key>img_enemy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{190,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,94}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>img_enemy04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,153},{210,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,77}}</string>
                <key>sourceSize</key>
                <string>{210,77}</string>
            </dict>
            <key>img_enemy05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{190,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,135}}</string>
                <key>sourceSize</key>
                <string>{190,135}</string>
            </dict>
            <key>img_enemy06.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,249},{187,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,128}}</string>
                <key>sourceSize</key>
                <string>{187,128}</string>
            </dict>
            <key>img_enemy07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{190,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,115}}</string>
                <key>sourceSize</key>
                <string>{190,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_enemys.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:333e1853627d286d2f8a030fe5219932$</string>
            <key>textureFileName</key>
            <string>img_enemys.png</string>
        </dict>
    </dict>
</plist>
